.card{
  box-sizing: border-box;
  max-width: 26rem;
  max-height: 35rem;
  background-color: ghostwhite;
  padding: 1.2rem;
  margin: 1rem;
}
img{
    height: 10rem;
    width: 15rem;
}
.img-sec{
    float: left;
    margin-right: .8rem;
}


.container{
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, auto));
  overflow: hidden;
  grid-gap: 1.2rem;
  margin: 1.2rem;
  grid-template-rows: repeat(auto-fill, minmax(2.7rem, auto));
  text-align: center;
  background-color: azure;
  // -webkit-backdrop-filter: brightness(0.5);
  /* backdrop-filter: brightness(0.5); */
  /* color: silver; */
  padding: 0.1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.heading{
   
    /* position: sticky; */
    text-align: center;
 
    backdrop-filter: brightness(0.5);
   color: ghostwhite;
    padding: 0.1rem;
    position: sticky;
    position: -webkit-sticky;
    font-family: cursive;
    top: 0;

 
}
h1{
    font-size: 3.5rem;
    line-height: 50%;
    margin: 2.8rem 0 1.6799999999999997rem 0;
}
.btn{
    margin: .5rem;
    align-items: center;
}
.title{
    font-weight: 800;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SearchBox{
  position: sticky;
  top: 7rem;
  width: 21rem;
  // position: relative;
  // left: 22rem;
  margin-left: auto;
  margin-right: auto;


}

.search-container{
    
    display: block;
    margin: 0 auto;
    margin-top: 2.1rem;
    // position: relative;
    // top: 9.5rem;
    padding: 0.1rem;
    
    position: sticky;
    position: -webkit-sticky;
    top: 10;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    align-items: center;
    height: 51px;
    padding: 0 25px;
    font-size: 1rem;
    border: 2px solid #D0CFCE;
    border-radius: 18rem;
    outline: whitesmoke;
    border-width: thick;
    outline: none;
    &:focus{
      border: 1px solid #717d81;
      transition: 1s ease;
      color:black;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  

  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  
  .card :hover {
    
    transform: scale3d(1,1,5);
    box-shadow: grey;
    cursor: pointer;
    transition: 0.8s;
  }
  img :hover{
    transform: scale(1.5);
  }
  @media screen and (max-width :768px){

    .carousel {
      position: relative;
      left: auto;
      right: auto;
    }
  }


  //Footer


